{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}
{% load format_value %}




<div class="candidat-item left">
    
    <div class="video-candidat relative">
        {% if candidat.project.video %}
            {{candidat.project.video|safe}}
        {% else %}
            <img src="{% static 'images/video_candidat.png' %}" alt="" />
        {% endif %}
        
    </div>
    
    {% if LANGUAGE_CODE == "ar" %}
        <div class="box15">
            <h3 class="bold bleu-color bottom15">{{candidat.project.title_ar}}</h3>
            
            {% if display_jauge_candidat and candidat.pourcent_votes < 99 %}
                <div class="jauge-candidat relative">
                    <div class="jauge-value absolute bleu-color bold none">{{candidat.pourcent_votes|floatformat}} %</div>
                    <div class="handler-jauge absolute" style="width : {{candidat.pourcent_votes_string}}%;"></div>
                </div>
        
            {% else %}
                {% if  candidat.pourcent_votes < 99 %}
                    <div class="candidat-votes">{{candidat.total_votes|format_value}}</div>
                {% endif %}
            
            {% endif %}

            <div class="resume-content light black-color bottom15 top15">
                {{candidat.project.content_ar|striptags|truncatewords:45}}
            </div>

            <div class="profil-widget">
                <ul class="horizontal">
                    <li class="photo-profil">
                        {% if candidat.photo %}
                            <img class="radius border" src="/media{% thumbnail candidat.photo 43x43 crop %}" alt="{{candidat.first_name_ar}} {{candidat.last_name_ar}}" />
                        {% else %}
                            <img class="radius border" src="{% static 'images/photo_profil_candidat.png' %}" alt="" />
                        {% endif %}
                     </li>  
                    <li class="infos-profil bleu-color bold italic">
                        <span class="block">{{candidat.first_name_ar}} {{candidat.last_name_ar}}</span>
                        <span class="block">{{candidat.position_ar}} {{candidat.company_ar}}</span>
                    </li>
                </ul>

                <div class="clr"></div>

            </div><!-- profil-widget --->
            {% if accept_vote %}
                <div class="align-center top20 bottom15">
                    <input type="button" value="Voter Pour {{candidat.first_name|capfirst}}" class="btn bleu-color bold yellow large vote-btn shadow" data-uid="{{candidat.uid}}" />
                </div>
            {% endif %}
        </div><!-- box15 -->
    
    {% else %}
        <div class="box15">
            <h3 class="bold bleu-color bottom15">{{candidat.project.title}}</h3>
            
            {% if display_jauge_candidat %}
                <div class="jauge-candidat relative">
                    <div class="jauge-value absolute bleu-color bold none">{{candidat.pourcent_votes|floatformat}} %</div>
                    <div class="handler-jauge absolute" style="width : {{candidat.pourcent_votes_string}}%;"></div>
                </div>
        
            {% else %}
                {% if  candidat.pourcent_votes < 99 and candidat.pourcent_votes < 99 %}
                    <div class="candidat-votes">{{candidat.total_votes|format_value}}</div>
                {% endif %}
            
            {% endif %}

            <div class="resume-content light black-color bottom15 top15">
                {{candidat.project.content|striptags|truncatewords:45}}
            </div>

            <div class="profil-widget">
                <ul class="horizontal">
                    <li class="photo-profil">
                        {% if candidat.photo %}
                            <img class="radius border" src="/media{% thumbnail candidat.photo 43x43 crop %}" alt="{{candidat.first_name}} {{candidat.last_name}}" />
                        {% else %}
                            <img class="radius border" src="{% static 'images/photo_profil_candidat.png' %}" alt="" />
                        {% endif %}
                     </li>  
                    <li class="infos-profil bleu-color bold italic">
                        <span class="block">{{candidat.first_name}} {{candidat.last_name}}</span>
                        <span class="block">{{candidat.position}} {{candidat.company}}</span>
                    </li>
                </ul>

                <div class="clr"></div>

            </div><!-- profil-widget --->
            
            {% if accept_vote %}
                <div class="align-center top20 bottom15">
                    <input type="button" value="Voter Pour {{candidat.first_name|capfirst}}" class="btn bleu-color bold yellow large vote-btn shadow" data-uid="{{candidat.uid}}" />
                </div>
            {% endif %}



        </div><!-- box15 -->

    
    
    {% endif %}
    
    
    
    
    {% comment %}
    
    <h3>{{candidat.first_name}} {{candidat.last_name}}</h3>
    <p>{{candidat.about|safe}}</p>

    <input type="button" value="Votez" class="btn yellow large vote-btn" data-uid="{{candidat.uid}}" />
    <a href="/details-candidat/{{candidat.uid}}/">en savoir plus</a>
    {% endcomment %}


</div>