
{% load static i18n thumbnail  %}


<header class="white border-bottom relative">
    <div class="container center-auto">
        <div class="left-header left"><img src="{% static 'images/logo.png' %}" /></div>
        <div class="center-header left large">
            <ul class="horizontal">
                <li><a class="fade-hover bleu-color active" href="#">Accueil</a></li>
                <li><a class="fade-hover bleu-color" href="#">Candidats</a></li>
                <li><a class="fade-hover bleu-color" href="#">Jury</a></li>
                <li><a class="fade-hover bleu-color" href="#">Réglements du TOMBOLA</a></li>
                <li><a class="fade-hover bleu-color" href="#">Contactez-nous</a></li>
            
            </ul>
            
            <div class="clr"></div>
        
        </div>
        <div class="right-header right">
            <ul class="horizontal">
                
            </ul>
        
        </div> 
        <div class="clr"></div>
    </div>
</header><!-- header -->