
{% load static i18n thumbnail  %}


<header class="white border-bottom relative">
    <div class="container center-auto">
        <div class="left-header left"><img src="{% static 'images/logo.png' %}" /></div><!-- left-header -->
        <div class="center-header left">
           

            <div class="clr"></div>

        </div><!-- center-header -->
        <div class="right-header right" id="right-header-user">
            <a href="/logout/" class="btn bleu-color">Se Déconnecter</a>
            <div class="clr"></div>
        </div> <!-- right-header -->

        <div class="clr"></div>

    
    </div><!-- container -->
</header><!-- header -->
    