{% load static i18n thumbnail  %}

<div id="sub-menu-header" class="border-bottom">
    <div class="container center-auto">
         <ul class="horizontal">
            <li><a class="fade-hover bleu-color active" href="#">Tous les produits</a></li>
            <li><a class="fade-hover bleu-color" href="#">Stock</a></li>
            <li><a class="fade-hover bleu-color" href="#">Transferts</a></li>
            <li><a class="fade-hover bleu-color" href="#">Collections</a></li>
            <li><a class="fade-hover bleu-color" href="#">Carte cadeaux</a></li>
        </ul>
        <div class="clr"></div>
    </div>
</div><!-- sub-menu-header -->