{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}

<meta name="description" content='تحت شعار من أجل الحياة، الوكالة الوطنية للسلامة الطرقية تنظم بمناسبة اليوم الوطني للسلامة الطرقية يوم 18 فبراير 2021 سهرة تحسيسية من خلال برنامج تلفزي مباشر على القناة الثانية و سيتضمن أيضا فقرات توعوية و تحسيسية و إخبارية من أجل السلامة الطرقية.'/>


<link rel="alternate" href="https://vote-narsa.com/" hreflang="ar-com" />

<link href="{% block link_mage %}https://vote-narsa.com/static/images/cover_default_facebook.png{% endblock %}" rel="image_src" />

<meta property="og:image" content="{% block og_image %}https://vote-narsa.com/static/images/cover_default_facebook.png{% endblock %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="https://vote-narsa.com/" /> 
<meta property="og:description" content='{% block og_description %}تحت شعار من أجل الحياة، الوكالة الوطنية للسلامة الطرقية تنظم بمناسبة اليوم الوطني للسلامة الطرقية يوم 18 فبراير 2021 سهرة تحسيسية من خلال برنامج تلفزي مباشر على القناة الثانية و سيتضمن أيضا فقرات توعوية و تحسيسية و إخبارية من أجل السلامة الطرقية.{% endblock %}' />
<meta property="og:title" content="{% block og_title %}اليوم الوطني للسلامة الطرقية{% endblock %}">
<meta property="og:url" content="{% block og_url %}https://vote-narsa.com/{% endblock %}">


<meta property="og:locale" content="ar_AR" />


<meta name="twitter:title" content="{% block twitter_title %}اليوم الوطني للسلامة الطرقية{% endblock %}">
<meta name="twitter:description" content="{% block twitter_description %}تحت شعار من أجل الحياة، الوكالة الوطنية للسلامة الطرقية تنظم بمناسبة اليوم الوطني للسلامة الطرقية يوم 18 فبراير 2021 سهرة تحسيسية من خلال برنامج تلفزي مباشر على القناة الثانية و سيتضمن أيضا فقرات توعوية و تحسيسية و إخبارية من أجل السلامة الطرقية.{% endblock %}">
<meta name="twitter:image" content="{% block twitter_image %}https://vote-narsa.com/static/images/cover_default_twitter.png{% endblock %}">