body.arabic {
    font-family: 'Almarai', sans-serif;
    direction: rtl;
}


body.arabic .horizontal li, body.arabic .left {
    float: right;
}

body.arabic .right {
    float: left;
}

body.arabic header .center-header {
    margin-right: 60px;
    margin-left: auto;
}

body.arabic header .horizontal li + li {
    margin-right: 50px;
    margin-left: 0;
}

body.arabic .candidat-item + .candidat-item, body.arabic .jury-item + .jury-item, body.arabic .candidat-item+.category-projet-block.none + .candidat-item {
    margin-left: auto;
    margin-right: 30px;
}

body.arabic .jury-item li + li {
    margin-left: auto;
    margin-right: 20px;
}

body.arabic #block-text-home {
    line-height: 33px;
}
body.arabic .block-yellow {
    line-height: 30px;
}

body.arabic .logo-initiative {
    left: -170px;
}
body.arabic input[type="button"]+input[type="button"] {
    margin-right: 20px;
    margin-left: 0;
}

body.arabic input[type="checkbox"]+label:before {
    left: auto;
    right: 0;
}
body.arabic input[type="checkbox"], body.arabic input[type="radio"] {
    right: 0;
    left: auto;
}

body.arabic input[type="checkbox"] + label, body.arabic input[type="radio"] + label {
    margin-left: auto;
    margin-right: 45px;
}

body.arabic .profil-widget .infos-profil {
    margin-right: 15px;
    margin-left: auto;
}
body.arabi .font20 {
    font-size: 22px;
    line-height: 38px;
}