/*
FONTS


@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/*
COMMON
*/

body {
    /*background: rgba(0,0,0,0.1);*/
    font-family: 'Mukta', sans-serif;
    direction: ltr;
}
.light {
    font-weight: lighter;
}
.bold {
    font-weight: bold;
}
.container  {
    width: 1200px;
}
.btn {
    display : inline-block;
    padding: 11px 30px;
    box-sizing: border-box;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn.shadow {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}
.bleu {
    background: #3d61ad;
    color: #fff;
}
.bleu-color, a.bleu-color, .btn.bleu-color {
    color: #3d61ad;
}
.color {
    color: #292929;
}
.bold {
    font-weight: bold;
}

.hidden {
    overflow: hidden;
}
.box0-15 {
    padding: 0 15px;
}
.yellow {
    background: #ffe800;
}
.souligner {
    text-decoration: underline;
}
.mini-container {
    width: 600px;
}
.white {
    background: #fff;
}
.full-width {
    max-width: 100%;
}
.black {
    background: #414042;
    color: #fff;
}
.black-color {
    color: #414042;
}
.font20 {
    font-size: 20px;
}
h1 {
    font-size: 40px;
}
.bottom40 {
    margin-bottom: 40px;
}
.italic {
    font-style: italic;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
.bleu-gris {
    background: #eef1f8;
}
.min-container {
    width: 800px;
}

.rouge {
    background: #e11221;
}
.rouge-color {
    color: #e11221;
}

.gris-bg {
    background: #e0e0e0;
}
/*
HEADER
*/
header {
    background: #fff;
    border-bottom: rgba(0,0,0, 0.2) solid 1px;
}
header .horizontal li a {
    display: block;
    padding: 20px 0px;
    position: relative;
    font-weight: bold;
}
header .horizontal li+li {
    margin-left: 50px;
}
header .center-header {
    width: 760px;
    margin-left: 60px;
}
header .center-header.large {
    width: 850px;
}
header .horizontal li a.active .line-active{
    
    opacity: 1;
}
.line-active {
    display: block;
    position: absolute;
    right: 0;
    top: 45px;
    width: 30px;
    height: 3px;
    background: #fee800;
    opacity: 0;
    
}
/*
HOME page
*/
h1 .line-active {
    width: 60px;
    top: 58px;
    opacity: 1;
    
}

#block-text-home {
    width: 960px;
    margin-top: 100px;
}
.logo-initiative {
    left: 795px;
    top: -34px;
}
.block-yellow {
    padding: 15px 20px;
    background: #ffe800;
    border-radius: 7px;
    width: 800px;
    line-height: 22px;
}
#block-candidat, #block-jury {
    margin-top: 60px;
}
h2 {
    font-size: 29px;
    line-height: 31px;
}

#listing-candidats {
    margin-top: 30px;
    padding-top: 30px;
    /*background: url("../images/background_block.png") no-repeat center center;*/
    background: #eef1f8;
}

#listing-candidats .container {
    width: 960px;
}
#prepend-body {
    position: relative;
    z-index: 900;
}
.category-projet-block {
    padding: 10px;
    background: #ffe800;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.05);
    clear: both;
}
.uppercase {
    text-transform: uppercase;
}
.candidat-item {
    width: 462px;
    background: #fff;
    border: rgba(0,0,0,0.1) solid 1px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    height: 740px;
}
.candidat-item.short {
    height: 620px;
}
.candidat-item.short .resume-content {
    display: none;
}

.candidat-item .video-candidat iframe{
    max-width: 100%;
}
.candidat-item.short .profil-widget {
    margin-top: 15px;
}


body.arabic .resume-content {
    line-height: 30px;
}
body.arabic .candidat-item .resume-content {
    line-height: 20px;
}

.candidat-item h3 {
    font-size: 22px;
    line-height: 27px;
    height: 50px;
}
.candidat-item .resume-content {
    font-size: 12px;
    height: 140px;
}
.candidat-item + .candidat-item, .jury-item + .jury-item, .candidat-item+.category-projet-block.none + .candidat-item {
    margin-left: 30px;
}

.candidat-item.noLeft + .candidat-item, .candidat-item.noLeft + .category-projet-block + .candidat-item {
    margin-left: 0px;
}
body.arabic .candidat-item.noLeft + .candidat-item {
    margin-left: auto;
    margin-right: 0px;
}



/*
.candidat-item+.candidat-item+.candidat-item+.candidat-item+.candidat-item
body.arabic  .candidat-item+.candidat-item+.candidat-item+.candidat-item+.candidat-item {
    margin-left: auto;
    margin-right: 0;
}*/
.radius {
    border-radius: 100%;
}
img.border {
    border : rgba(0,0,0,0.1) solid 1px;
}

.profil-widget .photo-profil {
    width: 82px;
}
.profil-widget .infos-profil {
    width: 315px;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
}

.profil-widget .infos-profil .rouge-color {
    font-size: 18px;
}

.jury-item {
    width: 277px;
}
.jury-item h3 {
    font-size: 30px;
}

.jury-item li+li {
    margin-left: 20px;
}
.top40 {
    margin-top: 40px;
}


.jury-item p {
    width: 224px;
}



footer {
    margin-top: 60px;
    padding: 30px;
    background: #000;
}
#block-stream img, #block-stream iframe {
    max-width: 100%;
}
#block-stream.stream-active {
    /*background: #000;*/
}
#block-stream.stream-active {
    text-align: center;
}
.id_vote-candidat {
    padding: 10px;
    /*background: #ffe800;
    color: #3d61ad;*/
    
    background: #e0e0e0;
    color: #e11221;
    font-weight: bold;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 21px;
    position: absolute;
    right: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    top: 0px;
    box-sizing: border-box;
}
.gris-color {
    color: rgba(0,0,0,0.3);
}
.inline-block .id_vote-candidat {
    right: -13px;
}

body.arabic .id_vote-candidat {
    left: 0;
    right: auto;
}

body.arabic .inline-block .id_vote-candidat {
    left: -13px;
    right: auto;
}
/*
switch
*/

.widget-switch {
    width: 70px;
    height: 26px;
    border: rgba(0,0,0, 0.2) solid 1px;
    border-radius: 20px;
    position: relative;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
.handler-switcher {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #000;
    position: absolute;
    left: 1px;
    top: 1px;
}
.label-switcher {
    right: -120px;
    top: 0;
    color: black;
}

.widget-switch.active .label-switcher{
    color: limegreen;
}
.widget-switch.active {
    background: rgba(0,0,0,0.0);
}
.widget-switch.active .handler-switcher {
    left: 44px;
    background: limegreen;
}


.vote-btn.disabled, body input[type="button"].disabled {
    background: rgba(0,0,0,0.2);
}
.vote-btn:hover {
    background: #3d61ad;
    color: #ffe800;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.4);
}
.candidat-item .vote-btn {
    display: block;
    width: 90%;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
}

.box-message {
    width: 800px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.box-message.success {
    background: #d6f5c2;
    border: #5abf19 solid 1px;
    color: #64c626;
}

.box-message.error {
    background: #f6c6c6;
    border: #cc1e1e solid 1px;
    color: #cc1e1e;
}

.video-candidat-block {
    width: 450px;
}
.video-candidat-block iframe {
    max-width: 100%;
}

.content-candidat-block {
    width: 720px;
}
.content-candidat-block .horizontal li+li {
    margin-left: 20px;
}

body.arabic .content-candidat-block .horizontal li+li {
    margin-left: auto;
    margin-right: 20px;
}

.candidat-block + .candidat-block, .jury-block+.jury-block {
    margin-top: 20px;
}

.jauge-candidat {
    width: 100%;
    height: 5px;
    background: rgba(0,0,0,0.2);
}
.handler-jauge {
    height: 5px;
    top: 0;
    left: 0;
    /*background: #3d61ad;*/
    background: #e11221;
}

.jauge-value {
    font-size: 12px;
    right: 0;
    top: -17px;
    
}

/*
page content
*/
.no-bold {
    font-weight: normal;
}
.content-page p {
    font-size: 15px;
    line-height: 26px;
}
.content-page p+p, .content-page p+h4, .content-page h4+p, .content-page h2+h4, .content-page h4+h2, .content-page h3+h4, .content-page h4+h3,  .content-page p+ul,  .content-page ul+p{
    margin-top: 10px;
}

.content-page p+h2, .content-page h2+p, .content-page p+h3, .content-page h3+p, .content-page h2+h3, .content-page h3+h2, .content-page h4+ul, .content-page ul+h4, .content-page h3+ul, .content-page ul+h3, .content-page h2+ul, .content-page ul+h2 {
    margin-top: 15px;
}

.content-page ul li {
    display: list-item;
    list-style: disc;
    margin-left: 30px;
}

.content-page h2 {
    font-size: 20px;
}
.content-page h1 {
    font-size: 24px;
}
.content-page h3 {
    font-size: 18px;
}
.content-page h4 {
    font-size: 16px;
}

body.arabic .content-page li+li {
    margin-top: 10px;
}


.label-category {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 20px;
    background: #ffe800;
    color: #000;
    font-size: 10px;
    margin-bottom: 5px;
}

/*
*/

.font26 {
    font-size: 26px;
}
/*
footer
*/
footer {
    color: #fff;
}