/*
* author : Said Bensamdi
* Layout.css
*/
/* reset */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin:0;padding : 0;}
html, body {height:100%:}
a {text-decoration : none;}
a img {border:none;}
/*
* Utils
*/

.GPU-accelerated, .animate { 
    -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
.left, .horizontal li, .half, .side, .col-3, .slide, .column  {float: left;}
.right, .horizontal .right, .half.right, .content, .delete-option {float: right;}
.no-horizontal li, .horizontal .no-horizontal li { float: none;}
.clear, .clr {clear: both;}
.absolute, .full, .info-bull {position: absolute;}
.relative, .tabs li, .popup, .relative-li li, form p, header{position: relative;}
.fixed, .overlay, .overlay-popup {position: fixed;}
.block, li, .clr, .clear, .horizontal, .info-bull, .active-line {display: block;}
.inline-block, .circle, label, .btn-circle, .tag, .close, .textarea {display: inline-block;}
.none {display: none;}
.uppercase, .title-section{text-transform : uppercase;}
.capitalize{text-transform : capitalize;}
.align-center, .circle, .notif {text-align : center;}
.align-justify {text-align : justify;}
.align-right {text-align : right;}
.vertical-center, .composant, .middle { vertical-align: middle;}
.souligner, .underline { text-decoration : underline;}
.center-auto, .loading-more, .box, .box-tabs, .box-30{float:none;margin-left : auto;margin-right : auto;}
.no-center-auto {margin-left : 0;margin-right : 0;}
.top5 {margin-top:5px;}
.top8 {margin-top:8px;}
.top10 {margin-top : 10px;}
.top15 {margin-top : 15px;}
.top20 {margin-top : 20px;}
.top25 {margin-top : 25px;}
.top30 {margin-top : 30px;}
.top40 {margin-top : 40px;}
.top60 { margin-top : 60px; }
.top90 { margin-top : 90px; }
.top110 { margin-top : 110px; }
.top-2 {margin-top: -2px;}
.top-4 {margin-top: -4px;}
.bottom5 {margin-bottom:5px;}
.bottom10 {margin-bottom : 10px;}
.bottom15 {margin-bottom : 15px;}
.bottom20 {margin-bottom : 20px;}
.bottom25 {margin-bottom : 25px;}
.bottom30 {margin-bottom : 30px;}
.bottom40 {margin-bottom : 40px;}
.bottom60 {margin-bottom : 60px;}
.left10 {margin-left : 10px;}
.left15 {margin-left : 15px;}
.left20 {margin-left : 20px;}
.left30 {margin-left : 30px;}
.box5, .tag {padding:5px;}
.box10, .message-error-input .block {padding:10px;}
.box15, .tabs li {padding:15px;}
.box20 {padding:20px;}
.box25 {padding:25px;}
.box30, .popup{padding:30px;}
.box40 {padding:40px;}
.box60 {  padding: 60px;}
.border-box {
    box-sizing: border-box;
}
.animate, .hover-fade, input, .fade-hover, .btn{
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
	-ms-transition: all 0.5s; /* Opera */
}

.animateBody {
    -moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
	-ms-transition: all 0.5s;
}
.fade-hover, .hover-fade {
    opacity: 0.5;
    cursor: pointer;
}

.fade-hover:hover, .fade-hover.active, .hover-fade:hover, .hover-fade.active {
    opacity: 1;
}

.no-animate {
	-moz-transition: opacity 0s; /* Firefox 4 */
	-webkit-transition: opacity 0s; /* Safari and Chrome */
	-o-transition: opacity 0s; /* Opera */
	-ms-transition: opacity 0s; /* Opera */
}
.z10 {
	z-index : 10;
}
.z100 {
	z-index : 100;
}
.z200 {
	z-index : 200;
}
.card {
	min-height : 450px;
	box-sizing: border-box;
}
/*
* Layout
*/
header {
    z-index: 10;
}
.side {width : 18%; border-right : #c9cbcf solid 2px; box-sizing: border-box;}
.side.hide {
    display: none;
}
.content {width : 82%;}
.content.full {
    width: 100%;
}
.height-content {
    min-height: 650px;
}
.left-content {
    width: 80%;
    min-height: 500px;
}
.right-content {
    width: 20%;
    min-height: 500px;
}
.box-content {
    width: 60%;
    min-height: 200px;
}
.box {width : 40%;}
.box-30 {width : 30%;}
.full {width: 100%; height: 100%; top : 0; left : 0;}
.half {width: 50%;}
.col-3 {width: 33.33%;}
.space10 {margin-left: -10px; margin-right: -10px;}
.space15 {margin-left: -15px; margin-right: -15px;}
.space20 {margin-left: -20px; margin-right: -20px;}
.space30 {margin-left: -30px; margin-right: -30px;}
.one-column-box {
    width: 94%;
}

/**/


.overlay, .overlay-popup, #overlay-ie {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    z-index: 2000;
    top : 0;
    left: 0;
    display: none;
}
.overlay-popup {
    display: block;
    opacity: 0;
    z-index: 700;
}
.overlay-popup h2 {
    font-size: 18px;
}
.overlay-popup h3 {
    font-size: 16px;
}
.container-popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6000;
}
.container-popup.fixed {
    position: fixed;
}
.box-popup {
    width : 700px;
    background: #fff;
    margin : 40px auto;
    padding: 30px;
    border: rgba(0,0,0,0.1) solid 1px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.box-popup-confirmation {
    width: 700px;
}
.default .box-popup.white {
    background: #fff;
}

form p+p {
    margin-top: 20px;
}

/**/


input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="date"], input[type="password"], input[type="time"], select, textarea, .input-text, .textarea  {
    height : 45px;
	width : 99%;
    border : #e7edf4 solid 1px;
    padding: 0 2%;
	box-sizing: border-box;
    background-position: 94% center;
    background-color: #fff;
    font-family: 'sans-serif';
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="time"]:focus, textarea:focus {
    border : #a3bbd4 solid 1px;
    box-shadow: 0 0 5px rgba(7, 50, 92, 0.2);
}
textarea {
    height: 100px;
}
label {
	width : 100%; /*.3*/
	box-sizing: border-box;
    margin-bottom: 8px;
}

label.block, .form-full label {
    width: 100%;
    margin-bottom: 5px;
}

input[type="button"], input[type="submit"] {
    /*height : 40px;*/
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
input[type="button"]+input[type="button"], input[type="submit"]+input[type="button"], input[type="button"]+input[type="submit"] {
    margin-left: 20px;
}
input[type="text"].error, input[type="email"].error, input[type="number"].error, input[type="tel"].error, input[type="date"].error, input[type="password"].error, input[type="time"].error, textarea.error, select.error {
    border: #ed1918 solid 1px;
    background: url("../images/icons/error.png") no-repeat 96% center #fff;
    color: #ed1918;
}
.message-error-input .inline-block:after{
    display: block;
}
.message-error-input {
    display: block;
    margin-top: 8px;
    color: #ed1918;
    font-size: 13px;
}
.error-p label {
    color: #e84b3a;
}
input[type="checkbox"].error+label:before, input[type="radio"].error+label:before {
	background-position : 0 0;
    box-shadow: 2px 2px 3px rgba(232,75,58, 0.3);
}
.gris {
    background: rgba(0,0,0, 0.2);
    color: #000;
}
.asterix {
    color: red;
}



.zone-drag {
    border : #d8d8d8 dashed 2px;
    background: #fcfcfc;
}
.zone-drag-white {
    border : #fff dashed 2px;
    background: rgba(5,20,41,0.6);
}
.box-drag-drop .drag-background.top3 {
    top: 3px;
}
#upload-space .image-block-preview {
    max-height: 180px;
    background: #fff;
}


#upload-space .image-block-preview img {
    max-height: 180px;
}

/*
box-drag-drop
*/
.box-drag-drop {
    min-height: 150px;
    background: #fdfdfd;
    border: #cdd2d8 dashed 2px;
    color: #8d919a;
    box-sizing: border-box;
}
.box-drag-drop.hide {
    border: #11508f dashed 2px;
}
.box-drag-drop.sortable {
    border: #30425a dashed 2px;
    box-shadow: 4px 4px 6px rgba(6,28,56, 0.3);
    color: #30425a;
}
.box-drag-drop .drag-background {
    top: 50px;
}
.box-drag-drop.active {
    background: #fff;
    border: none;
}
.content-background {
    width: 100%;
    height : 50%;
    top: 185px;
}

/*
file-input
*/
.file-input {
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background: #e6e8eb;
    border : #b4bbc3 dashed 2px;
    z-index: 100;
}
.file-input.hide {
    background: none;
    border: none;
    color: #fff;
}
.file-input input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}
/*tabs*/

.tabs {
    margin: 0 15px;
}
.tabs.tabs-no-padding {
	padding : 0;
	margin : 0;
}
.tabs.tabs-no-padding li {
	padding-top : 0px;
}
.tabs.line-white {
    border-bottom: rgba(255,255,255, 0.5) solid 1px;
}
.tabs.line-black {
    border-bottom: #f4f4f5 solid 1px;
}
.tabs li {
    opacity: 0.4;
}
.tabs li+li {
	margin-left : 15px;
    margin-bottom: 15px;
}
.tabs li:hover {
    opacity: 0.8;
}
.tabs li.active {
    opacity: 1;
}
.tabs .no-tab {
	padding : 0;
}
.active-line {
    width : 100%;
    height : 3px;
    bottom: 1px;
    left: 0;
}
#box-mode .active-line {
    bottom: -4px;
}
.container-slider {
    overflow: hidden;
}
.tab {
    border-bottom: transparent solid 3px;
}
.tab.active {
    border-bottom: #3d61ad solid 3px;
}
/*chcekbox*/


input[type="checkbox"], input[type="radio"] {
    width : 28px;
    height : 28px;
    opacity : 0;
	cursor : pointer;
	position : absolute;
	z-index : 10;
	top : 2px;
	left : 0;
}
input[type="checkbox"]+label, input[type="radio"]+label {
	margin-left : 45px;
	width : 80%;
	float : none;
    margin-top: 5px;
    display: inline-block;
}
input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	content : '';
	display : block;
	width : 28px;
	height : 28px;
	position : absolute;
	background : url("../images/icons/checkbox.png") no-repeat 0 0;
	z-index : 0;
	top : 2px;
	left : 0;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.1);
}
input[type="radio"]+label:before {
    background : url("../images/icons/radiobox.png") no-repeat 0 0;
    border-radius: 100%;
}
input[type="checkbox"].error+label:before, input[type="radio"].error+label:before {
	background-position : 0 bottom;
    box-shadow: 2px 2px 3px rgba(232,75,58, 0.3);
}
form input[type="checkbox"]:checked+label:before, form input[type="radio"]:checked+label:before, input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before {
	background-position : 0 -29px;
    box-shadow: 2px 2px 3px rgba(74,43,145, 0.1);
    
}
