{% extends "base.html" %}
{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}
{% if LANGUAGE_CODE == "ar" %}
    المرشحين لبرنامج NARSA
{% else %}
    Candidats de l’émission NARSA
{% endif %}

{% endblock %}


{% block body %}





<div class="container center-auto">
    <div id="block-stream" class="relative">
        {% if stream_object %}
            {{stream_object|safe}}
        {% else %}
            <img src="{% static 'images/rect_live_stream.png' %}" alt="Tombola" />
        {% endif %}
    
    </div><!-- block stream -->
    
    
    
</div>
    
    <div id="block-candidat" class="relative">
        <h2 class="bleu-color align-center">
            {% if LANGUAGE_CODE == "ar" %}
                المرشحون لبرنامج
                &nbsp;<img src="{% static 'images/img_titre_ar.png' %}" alt="NARSA" />
            {% else %}
                Candidats de l’émission &nbsp;<img src="{% static 'images/img_titre.png' %}" alt="NARSA" />
            {% endif %}
            
             </h2>
        
        <div id="" class="relative top30">
            
            
            <div class="container center-auto">
                {% for candidat in candidats %}
                    {% if candidat.about and candidat.about_ar %}
                        {% include "include/candidat_block.html" %}  
                    {% endif %}
                {% endfor %}
                
                <div class="clr"></div>
            
            </div><!-- container -->
            
        </div><!-- listing-candidats -->
        
        
    </div><!-- block-candidat -->


   
    


    
    
    
{% endblock %}


{% block js %}
<script src="{% static 'js/scripts/dist/home_page.js'  %}"></script>
    
{% endblock %}