{% extends 'base.html' %}
{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  Se Connecter
{% endblock %}



{% block header %}
    {% include 'include/header_empty.html' %}
{% endblock %}

{% block title-page %}Se Connecter{% endblock %}

{% block body %}


<div class="top40 mini-container center-auto">
    <div id="container-form" class="relative white border center-auto" data-type="v">
       <div id="left-form" class="full-width">
           <div class="box30 theme-default">
                <h1 class="light bottom30">
                      Se Connecter
                </h1>
                
                
                <form id="form-company" class="form-slider" action="{{ request.get_full_path }}" method="post">
                  {% csrf_token %}
                        <div class="inputs">
                           {% if message %}
                               <div class="notice">{{message}}</div>
                            {% endif %}
                            <p class="{% if form.errors.email %}error-p{% endif %}">
                                <label class="block bottom5">

                                    Nom d'utilisateur

                                    <span class="asterix">*</span></label>
                                <input type="text" name="username" class="required ltr {% if form.errors.username %}error{% endif %}" value="{{form.username.value|default_if_none:''}}" data-rule="string" placeholder="example : username" />
                                {% if form.errors.username %}
                                    <span class="message-error-input"><span class="inline-block">{{form.errors.username|striptags}}</span></span>
                                {% endif %}
                            </p>
                            <p class="{% if form.errors.password %}error-p{% endif %}">
                                <label class="block bottom5">

                                    Mot de passe

                                     <span class="asterix">*</span></label>
                                <input type="password" name="password" class="required ltr {% if form.errors.password %}error{% endif %}" value="{{form.password.value|default_if_none:''}}" data-rule="password" placeholder='يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل}' />
                                {% if form.errors.password %}
                                    <span class="message-error-input"><span class="inline-block">{{form.errors.password|striptags}}</span></span>
                                {% endif %}
                            </p>
                            <p class="font12"> <span class="asterix">*</span><span class="fade"> : 

                                Champs obligatoires

                                </span></p>
                            <div class="top30 align-center">
                                <input type="submit" value='Login' class="bleu btn finish-slide" data-index="1" />
                            </div>


                        </div><!-- inputs -->
                        <div class="clr"></div>
                    
                    
                    
               </form>
           </div><!-- box30 -->
        </div><!-- left-form -->
        <div class="clr"></div>
    </div><!-- container-form -->
</div> 


{% endblock %}

{% block js %}
    
{% endblock %}
{% block extra_js %}
{% endblock %}