{% extends "base.html" %}
{% load static i18n thumbnail  %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}
{% if LANGUAGE_CODE == "ar" %}
{{title_ar}}
{% else %}
{{title}}
{% endif %}

{% endblock %}

{% block body %}
    
<div class="container center-auto">
    
    <div class="box30 content-page">
        {% if LANGUAGE_CODE == "ar" %}
            <h1 class="light bottom30">{{title_ar}}</h1>
        <div>
            {{content_ar|safe}}
        </div>
        
        {% else %}
            <h1 class="light">{{title}}</h1>
        <div>
            {{content|safe}}
        </div>
        
        {% endif %}
        
        

            
    </div>
</div>
    
    
{% endblock %}


{% block image_tombola  %}{% endblock %}

{% block js %}
<script src="{% static 'js/scripts/dist/home_page.js'  %}"></script>
    
{% endblock %}